/*width*/
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*track*/
.scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/*thumb*/
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.08);
  border-radius: 8px;
  border: 5px solid transparent;
}

/* Hide the body of an accordion */
.accordion-body {
  display: none;
}

/*Hide the spin box inside all input number fields*/
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tippy-box[data-theme~='cobalt'] {
  background-color: #181C1E; /*Neutral 00*/
  color: #ffffff;/*White 00*/
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden] {
  opacity: 0
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=top][data-state=hidden] {
  transform: translateY(-5px)
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=bottom][data-state=hidden] {
  transform: translateY(5px)
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=left][data-state=hidden] {
  transform: translateX(-5px)
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=right][data-state=hidden] {
  transform: translateX(5px)
}